@media only screen and (min-width: 1250px) {
    .top-1 {
        display: flex;
        min-width: 1200px;
        justify-content: space-evenly;
    }

    .top-2 {
        display: flex;
        min-width: 1200px;
        justify-content: space-evenly;
    }

    .bottom-1 {
        display: flex;
        min-width: 1200px;
        justify-content: space-evenly;
    }
    
    .bottom-2 {
        display: flex;
        min-width: 1200px;
        justify-content: space-evenly;
    }
    
}

@media only screen and  (max-width: 1249px) {
    .top-1 {
        display: flex;
        justify-content: center;
    }

    .top-2 {
        display: flex;
    }

    .bottom-1 {
        display: flex;
    }

    .bottom-2 {
        display: flex;
    }
}

@media only screen and (max-width: 740px) {
    #cvs {
        z-index: 2;
    }

    #container {
        z-index: 3;
    }
}